<% layout('layouts/boilerplate')%>

    <div id="main-container">
        <div id="content-side-left">
            <div class="box content-side">
                <div class="title">
                    New here?
                </div>
                <div class="text-content">
                    <p>Signup now to be able to comment, vote and more in the funniest community on the Internet!
                    </p>
                    <button action="/register" type="button" id="register-button"
                        class="btn btn-success">Register</button>
                </div>
            </div>
            <div class="box content-side">
                <div class="title">Shortcuts</div>
                <div class="text-content">
                    <ul id="jump-menu">
                        <li>J - Jump to next post</li>
                        <li>K - Jump to previous post</li>
                        <li>L - Like current post</li>
                        <li>H - Dislike current post</li>
                        <li>C - Show comments of current post</li>
                        <li>O - Open current post in a new tab</li>
                        <li>Z - Zoom in on current post</li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="" id="content-side-center>">
            <% for (let meme of memes){%>
                <div class=" col-12 pb-3 post">
                    <div class="container-fluid px-0 ">
                        <div class="row">

                            <div class="col-md-12">
                                <div class=" card card-body">
                                    <h5 class="card-title">
                                        <a href='/memes/<%=meme._id%>'>
                                            <%= meme.title%>
                                        </a>
                                    </h5>

                                    <img class="img-fluid" src="<%=meme.image.url %>" alt="">

                                    <div class="text-content text-muted" id="post-bottom-text">
                                        <div class="" id="upper-level">
                                            <div class="custom-row">
                                                <div class="points-value">
                                                    * <%= meme.points %> Points
                                                </div>
                                                <div class="comments-number">

                                                    * <%= meme.comments.length %> comments
                                                </div>

                                            </div>
                                            <div class="created-date">
                                                2 days ago
                                            </div>
                                        </div>
                                        <div class="" id="lower-level">
                                            <div class="custom-row">
                                                <div class="author-name">
                                                    by <%=meme.author.username %>
                                                </div>
                                                <div class="vote">
                                                    <button>Up</button>
                                                    <button>Down</button>
                                                </div>
                                            </div>

                                            <div class="social">
                                                <a class="social-button" id="fb-button" href="#">F Share</a>
                                                <a class="social-button" id="twitter-button" href="#">Twitter</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }%>
        </div>
        <div id="content-side-right">
            <div class="box content-side">
                <div class="title">
                    Check out the most voted posts!

                </div>
                <div class="text-content" id="votes-text-content">
                    <ul id="most-votes">
                        <% for(let post of memes){ %>

                            <li>
                                <div class="item-voted-posts">
                                    <div class="image-voted-posts">
                                        <img src="<%=post.image.url%>" alt="" class="img-thumb-vote">
                                    </div>
                                    <div class="title-voted-posts">
                                        <%=post.title%>
                                    </div>
                                    <div class="points-voted-posts">
                                        <%=post.points%>
                                    </div>
                                </div>
                            </li>

                            <% } %>
                    </ul>
                </div>
            </div>
            <div id="scroll-to-top" onclick="back_to_top_button_push()" style="visibility: hidden;">
                <img src="images/back-to-top.png" alt="">
            </div>
        </div>
    </div>