<% layout('layouts/boilerplate')%>

    <div class="main-container" onload="test()">
        <div class="content-side-left">
            <div class="custom-box content-side">
                <div class="title">
                    New here?
                </div>
                <div class="text-content">
                    <p>Signup now to be able to comment, vote and more in the funniest community on the Internet!
                    </p>
                    <button action="/register" type="button" id="register-button"
                        class="btn btn-success">Register</button>
                </div>
            </div>
            <div class="custom-box content-side">
                <div class="title">Shortcuts</div>
                <div class="text-content">
                    <ul id="jump-menu">
                        <li>J - Jump to next post</li>
                        <li>K - Jump to previous post</li>
                        <li>L - Like current post</li>
                        <li>H - Dislike current post</li>
                        <li>C - Show comments of current post</li>
                        <li>O - Open current post in a new tab</li>
                        <li>Z - Zoom in on current post</li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="content-side-center">
            <% for (let meme of memes){%>
                <div class="custom-col post">
                    <div class=" custom-card">
                        <div class="custom-card-title">
                            <h5 class="reduce-length">
                                <a href='/memes/<%=meme._id%>'>
                                    <%= meme.title%>
                                </a>
                            </h5>
                        </div>
                        <div class="post-image">
                            <img class="img-fluid" src="<%=meme.image.url %>" alt="">
                        </div>
                        <div class="text-content text-muted" id="post-bottom-text">
                            <div class="" id="upper-level">
                                <div class="custom-row">
                                    <div class="points-value">
                                        <%= meme.voteScore %> Votes
                                    </div>
                                    <div class="comments-number">
                                        <a href='/memes/<%=meme._id%>'>
                                            <%= meme.comments.length %> Comments
                                        </a>

                                    </div>

                                </div>
                                <div class="created-date">

                                    <abbr class="timeago" id="timeago" title="<%=meme.createdDate %>">
                                        <%=meme.elapsedTime%>
                                    </abbr>
                                </div>
                            </div>
                            <div class="" id="lower-level">
                                <div class="custom-row">


                                    <div class="vote">
                                        <% if (!currentUser){ %>
                                            <div class="need-to-be-logged-in">
                                                <h5>Login to vote</h5>
                                            </div>
                                            <% } else{ %>
                                                <form method="POST" class="vote-up" data-id="<%=meme._id %>">
                                                    <button id="upvote">&uarr;</button>
                                                </form>
                                                <form method="POST" class="vote-down" data-id="<%=meme._id %>">
                                                    <button id="downvote">&#8595;</button>
                                                </form>
                                                <% } %>
                                    </div>
                                    <div class="author-name">
                                        by <a href="/users/<%=meme.author.id %> ">
                                            <%=meme.author.username %>
                                        </a>
                                    </div>

                                </div>

                                <div class="social">
                                    <a class="social-button" id="fb-button" href="#">F Share</a>
                                    <a class="social-button" id="twitter-button" href="#">Twitter</a>
                                </div>
                            </div>
                        </div>
                        <% if (meme.comments.length>0) { %>
                            <div class="show-comments">

                                <% for (let comment of meme.comments){ %>

                                    <div class="comment-block">
                                        <div class="comment-username">
                                            <a href="/users/<%=comment.author._id %>">
                                                <%=comment.author.username %>
                                            </a>
                                        </div>
                                        <div class="comment-text reduce-length">
                                            <%= comment.body %>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% if (meme.comments.length>=2) { %>
                                            <div class="view-comments">
                                                <a href="/memes/<%= meme._id %>">View all <%=meme.comments.length %>
                                                        comments!</a>
                                            </div>
                                            <% } %>
                            </div>
                            <% } %>
                    </div>

                </div>
                <% }%>
        </div>

        <div class="content-side-right">
            <div class="custom-box content-side">
                <div class="title">
                    Check out the most voted posts!
                </div>
                <div class="text-content" id="votes-text-content">
                    <ul class="most-votes">
                        <% for(let post of topCommentMemes){ %>

                            <li>
                                <div class="item-voted-posts">
                                    <div class="image-voted-posts">
                                        <a href="/memes/<%=post._id%>"><img src="<%=post.image.url%>" alt=""
                                                class="img-thumb-vote"></a>

                                    </div>
                                    <div class="title-voted-posts reduce-length">
                                        <a href="/memes/<%=post._id%>">
                                            <%=post.title%>
                                        </a>
                                    </div>
                                    <div class="points-voted-posts">
                                        <%=post.voteScore%>
                                    </div>
                                </div>
                            </li>

                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="custom-box content-side-side">
                <div class="title">
                    Latest Comments
                </div>
                <div class="text-content">
                    <% for (let comment of comments){ %>
                        <!-- comments -->
                        <div class="row-spaced">
                            <div class="">
                                <div class="comment-title">
                                    <%=comment.author.username%>
                                </div>
                            </div>
                            <div class="reduce-length-more">
                                <a href="/memes/<%=comment.postedOn %>">
                                    <%=comment.body %>
                                </a>


                            </div>
                        </div>
                        <% } %>
                </div>
            </div>

        </div>
    </div>