<% layout('layouts/boilerplate')%>

    <div class="row justify-content-center">
        <div class="col-6">
            <div class="container-fluid px-0 ">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid" src="<%=meme.image.url %>" alt="">
                    </div>
                </div>

            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= meme.title%>
                    </h5>
                    <p class="card-text">
                        <%= meme.description%>
                    </p>
                </div>

                <div class="card-footer text-muted">
                    2 days ago
                </div>
                <div>
                    <a class="card-link btn btn-info" href="/memes/<%=meme._id%>/edit">Edit</a>
                    <form class="d-inline" action="/memes/<%=meme._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>

        </div>

    </div>